<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chatterbox</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
  
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- your scripts -->
    <script src="env/config.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="main">
      <h1>chatterbox</h1>
      <!-- Your HTML goes here! -->

      <h4>Room:   <select id="roomSelect">
          <option value="1"></option>
          </select>
      
      </h4>
      
      <form id="addRoom">
        Room Name:<br>
        <input id="nameroom" type="text" name="username" value=""><br><br>
        <input class="btn btn-default" type="submit" value="Add">
      </form>
      
      <!--form action="scripts/app.js" method="POST" onsubmit="app.addMessage();">
        Username:<br>
        <input id="user" type="text" name="username" value="user"><br><br>
        Message:<br>
        <input id="mess" type="text" name="text" value="asdf"><br><br>
        <input type="submit" value="Submit">
      </form-->

      <form id="messageForm">
        Username:<br>
        <input id="user" type="text" name="username" value="user"><br><br>
        Message:<br>
        <input id="mess" type="text" name="text" value="asdf"><br><br>
        <input class="btn btn-default" type="submit" value="Submit">
      </form>

      <button class="refresh-button btn btn-primary" type="button">Refresh</button>
      <button class="clear-button btn btn-danger" type="button">Clear</button>
    </div>

    
    
    <script id="t" type="text/x-underscore">
      <div><%= title %></div>
      <div><%- title %></div>
      <div><%safeHtmlOnly title safeHtmlOnly%></div>
      <div><% print(title) %></div>
    </script>

    <div id="chats"></div>

    
  </body>
</html>
